@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:300,700|Merriweather:300,700");

body, h1, h2, h3, p {
  font-family: "Merriweather", "Georgia", "Times New Roman", "Times", serif !important;
}

code span.pre {
  padding: 0.125rem 0.25rem;
}
